nav 
{
  background-color: rgb(0, 68, 255);
}
.modal-dialog,table
{
  
  box-shadow: 0px 0px 7px 5px rgba(0,0,0,0.75);
}
.form-control
{
  border-color: black;
  border-radius: 5px;
  padding: 5px;
  background-image: none;
}
// input
// {
//   border: none;
// }
// .form-control.ng-valid {
//   border-color: #000000;
//   background-image:unset;
// }

thead>tr>th{
  white-space: nowrap;
}