<div>
    <div class="row">
        <h5 class="text-center">Upload Documents</h5>
        <div class="col-md-12">
            <label for="" class="form-label">Aadhar Card xerox</label>
            <input type="file" class="form-control" name="" id="">
        </div>
        <div class="col-md-12">
            <label for="" class="form-label"> PAN Card</label>
            <input type="file" class="form-control" name="" id="">
        </div>
        <div class="col-md-12">
            <label for="" class="form-label"> Bank Passbook</label>
            <input type="file" class="form-control" name="" id="">
        </div>
        <div class="col-md-12">
            <label for="" class="form-label"> Form No. 11 (PF Declaration) </label>
            <input type="file" class="form-control" name="" id="">
        </div>
        <div class="col-md-12">
            <label for="" class="form-label"> Form No. 11 Excluded (Non PF)</label>
            <input type="file" class="form-control" name="" id="">
        </div>
        <div class="col-md-12">
            <label for="" class="form-label"> Form No. 2 (Nomination)
            </label>
            <input type="file" class="form-control" name="" id="">
        </div>
        <div class="col-md-12">
            <label for="" class="form-label">Form No. 1 (ESIC Declaration)
            </label>
            <input type="file" class="form-control" name="" id="">
        </div>
        <div class="col-md-12">
            <label for="" class="form-label">ID Photograph 04 Copies</label>
            <input type="file" class="form-control" name="" id="">
        </div>
        <div class="col-md-12">
            <label for="" class="form-label">Family Photo 4” X 6”</label>
            <input type="file" class="form-control" name="" id="">
        </div>
        <div class="col-md-12">
            <label for="" class="form-label">Residence proof (Electricity)</label>
            <input type="file" class="form-control" name="" id="">
        </div>


    </div>
</div>