<div class="table-responsive">
  <table class="table table-hover table-striped text-center">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Cover</th>
        <th>Status</th>
        <th>Action </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of Data">
        <td>{{d.id}}</td>
        <td>{{d.name}}</td>
        <td><img src="https://growiseit.com/movemykart/API/uploads/{{d.cover}}" alt="" height="100" width="100"></td>
        <td *ngIf="d.status==1;else elseblock">
          <button  class="btn btn-outline-primary">Active</button>
          
        </td>
        <ng-template #elseblock>
          <td>
            <button class="btn btn-outline-danger"> Disable </button>
          </td>
        </ng-template>

        <td>
          <div class="d-flex justify-content-center">
            <button class="btn btn-outline-primary me-3">Edit</button>
            <button class="btn btn-outline-danger">Delete</button>

          </div>
        </td>

      </tr>

    </tbody>
  </table>
</div>